@import "../../../variables.scss";


.mainDiv {

    border-radius: $border-radius;
    box-shadow: $box-shadow;
    font: $font-family;
    margin: $margin-single * 2;
    background-color:$colour-blue;
    padding: $padding-single*2;
    height: 40%;
    width: 80%;

    h3 {
        font-size: $font-size-h3;
        padding: $padding-single;
        margin: 0;
    }

    p {
        font-size: $font-size-p;
        padding: $padding-single;
    }

}