@import "../../../src/variables.scss";

.outer {
    height: 90%;
    width: 80%;
    background-color: $colour-orange;
    border-radius: $border-radius;
    margin: 0 auto;
    display: flex;
    flex-direction: column;


    h1 {
        padding: 20px;
        font-size: $font-size-h2;
    }
}

.inner {
    height: 90%;
    width: 90%;
    border-radius: $border-radius;
    margin: 0 auto;
    background-color: $colour-dark-orange;
    display: flex;
    flex-direction: column;

    img {
        height: 200px;
        padding-top: 30px;
    }

    p {
        padding: 30px;
        font-size: $font-size-h3;
    }

    button {
        color: black;
        background-color: $colour-blue;
        border-radius: $border-radius;
        width: 16%;
        border: none;
        padding: 20px;
        margin: 20px;
        font-size: $font-size-h3;
        
        button :hover {
          background-color: $colour-dark-blue;  
        }
    }
}


