            @import "../../../variables.scss";
            nav {
                height: $nav-height;
                display: flex;
                width: 100%;
                flex-direction: row;
                align-items: center;
                background-color: $colour-blue;

                .account {
                    color: $colour-sky;
                    display: flex;
                    justify-content: flex-end;
                    align-items: center;
                    text-decoration: none;
                    width: 50%;

                    a {
                        text-decoration: none;
                        align-items: center;
                        color: white;

                        &:hover {
                            background-color: $colour-dark-blue;
                            border-radius: $border-radius;

                            p span {
                                color: white;
                                padding: 10px;
                                font-size: 20px;
                            }
                        }
                    }

                    p {
                        padding: 10px;
                        font-size: 20px;
                        padding-right: 40px;

                        span {
                            color: $colour-dark-blue;
                            padding: 10px;
                            font-size: 20px;
                        }

                        &:hover {
                            background-color: $colour-dark-blue;
                            border-radius: $border-radius;

                            span {
                                color: white;
                            }
                        }
                    }
                }

                img {
                    height: $nav-height;
                    width: auto;
                }

                .links {
                    margin-left: 10px;
                    color: $colour-sky;
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                    width: 100%;

                    a {
                        text-decoration: none;
                        color: white;

                        &:hover {
                            background-color: $colour-dark-blue;
                            border-radius: $border-radius;

                            p span {
                                color: white;
                                padding: 10px;
                                font-size: 20px;
                            }
                        }
                    }

                    p {
                        padding: 10px;
                        font-size: 20px;
                        text-decoration: none;
                    }

                    p span {
                        color: $colour-dark-blue;
                        padding: 10px;
                        font-size: 20px;
                    }
                }
            }
            
            .FlexContainer {
                display: flex;
                margin: auto;
                padding: 0 2rem;
                width: 100%;
            }
            
            .NavLinks {
                width: 100%;
                display: flex;

                & p {
                    color: #dfe6e9;
                    text-transform: uppercase;
                    font-weight: 600;
                    border-bottom: 1px solid transparent;
                    margin: 0 1.5rem;
                    transition: all 300ms linear 0s;
                    cursor: pointer;
                    &:hover {
                        color: #fdcb6e;
                    }
                }

                @media (max-width: 768px) {
                    display: none;
                }
            }
            
            .BurgerWrapper {
                @media (min-width: 768px) {
                    margin: auto 0;
                    display: none;
                }
            }