@import "../../../src/variables.scss";

.button {
    color: black;
    background-color: $colour-blue;
    border-radius: $border-radius;
    width: 250px;
    border: none;
    padding: 20px;
    margin: 20px;
    font-size: $font-size-h3;
    
    &:hover {
        background-color: $colour-dark-blue;  
    }
}