@import "../../variables.scss";

.Topics {
    @extend %card;
    background-color: $colour-orange;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 30px;
    margin-bottom: 20px;

    h2 {
        padding: 20px;
    }

    .inner {
        @extend %innerCard;
        background-color: $colour-dark-orange;
        text-align: justify;
        padding: 20px 20px;
        border-radius: $border-radius;
        margin-bottom: 10px;
    }

    .heading {
        font-size: $font-size-card-title;
    }
}