@import "../../variables.scss";
.Topics {
    @extend %card;
    background-color: $colour-orange;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 30px;
    margin-bottom: 20px;
    .inner {
        @extend %innerCard;
        background-color: $colour-dark-orange;
        text-align: justify;
        padding: 10px 10px;
        border-radius: 10px;
        margin-bottom: 10px;
    }
    .heading {
        font-family: $font-family;
        font-size: $font-size-card-title;
    }
}