@import "../../variables.scss";
.Topics {
    @extend %card;
    background-color: $colour-orange;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 60px;
    .inner {
        @extend %innerCard;
        background-color: $colour-dark-orange;
        text-align: justify;
        padding: 0px 10px;
        border-radius: 10px;
        min-height: unset;
        p {
            height: 200px;
        }
    }
    .heading {
        font-family: $font-family;
        font-size: $font-size-card-title;
    }
    div {
        &.playsection {
            margin-top: 20px;
        }
        .button {
            width: 75vw;
            color: $colour-sky;
        }
    }
}