@import "../../variables.scss";

nav {
  height: 40px;
  width: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: $colour-blue;
  font-size: 25px;
  }
  
  img {
    height: 40px;
    width: auto;
  }
  
  ul {
    text-decoration: none;
    list-style: none;
    text-decoration: none;
    
  
    li {
      text-decoration: none;
      color: $colour-sky;
      text-align: center;
      display: inline-flex;
      justify-content: space-between;
      list-style: none;
      
      .links {
        list-style: none;
        text-decoration: none;
      }
    }

    .myaccountlink {
      font-size: 25px;
    }
  }


  









