@import "../../variables.scss";

nav {
  height: 60px;
  max-width: 100vw;
  display:inline-flex;
  width: 100vw;
  flex-direction: row;
  align-items: center;
  background-color: $colour-blue;
  }
  
  img {
    height: 60px;
    width: auto;
  }
  
  .links {
    margin-left: 20px;
    color: $colour-sky;
    display: inline-flex;
    width: 75vw;
    
    p span {
      color: $colour-dark-blue;
      padding: 10px;
      font-size: 30px;
    }

    p{
      padding:10px;
      font-size: 20px;
    }
  
  }
  
  .account {
    color: $colour-sky;
    display: inline-flex;
    justify-content: right;
    
    p span {
      color: $colour-dark-blue;
      padding: 10px;
      font-size: 30px;
    }

    p{
      padding:10px;
      font-size: 20px;
    }
  }
   
      
  

  

  









