        .cardcarousel {
            width: 95vw;
        
        
            .CardCarousel {
                padding: 10px;
            }
            
            .sectionFlex {
                display: flex;
                justify-content: space-between;
                margin: 100px;
                .sectionFlex {
                    display: flex;
                    justify-content: space-between;
                    margin: 100px;
                }
                .sectionFlex {
                    display: flex;
                    justify-content: space-between;
                    margin: 100px;
                }
                .sectionFlex {
                    display: flex;
                    justify-content: space-between;
                    margin: 100px;
                }
        }
    }