@import "../../variables.scss";

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;

    .header {
        border: 2px solid $colour-orange;
        background-color: $colour-orange;
        border-radius: $border-radius;
        box-shadow: $box-shadow;
        height: fit-content;
        margin-top: 40px;
        margin-bottom: 40px;
        padding: 0px 10px;
        width: 90%;
    
        h1 {
            font-weight: bold;
            font-size: 50px;
            padding: 10px;
        }
    
        p {
            text-align: center;
            padding: 5px 10px;
            text-align: center;
        }
        
        .showInstructionsStyle {
            font-size: $font-size-h4;
        }
    }
    
    .toolPage {
        border: 2px solid $colour-dark-purple;
        background-color: $colour-purple;
        border-radius: $border-radius;
        box-shadow: $box-shadow;
        padding: 10px;
        // height: 90%;
        width: 60%;
        margin: 0 auto;
        opacity: 0.9;
        
        
        input {
            height: 80px;
            width: 90%;
            border: 2px solid $colour-dark-purple;
            box-shadow: $box-shadow;
            margin: 10px;
            font-size: 24px;
            
        }
    
        .buttons {
            display: flex;
            justify-content: space-evenly;
            width: 50%;
            margin: 0 auto;
    
    
            
            button {
                background-color: $colour-blue;
                border-radius: $border-radius;
                box-shadow: $box-shadow;
                padding: 15px;
                border: none;
                width: 120px;
                margin: 5px;
                display: inline-block;
            }
            
            button:hover {
                cursor: pointer;
                background-color: $colour-dark-blue;
            }
        }
        
    }

    
    .affirmationCard {
        border: 2px solid $colour-dark-orange;
        background-color: $colour-orange;
        border-radius: $border-radius;
        box-shadow: $box-shadow;
        font-weight: bold;
        padding: 10px;
        height: 90%;
        width: 60%;
        margin: 0 auto;
        margin-top: 20px;
        opacity: 0.9;
    }
    
}


@media only screen and (max-width: $tablet-break-point) {
    .container {

        .header {
            height: fit-content;
            
            h1 {
                font-size: $font-size-h3;
            }
            
            .showInstructionsStyle {
                font-size: $font-size-p;
            }
            
            .toolPage {
                padding-bottom: 10px;
                .buttons {
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    margin: 0, auto;
                }
            }
        }
    }
}

@media only screen and (max-width: $mobile-break-point ) {
    .container {

        .header {
            width: 90%;

            h1{
                font-size: $font-size-h4;
            }
    
        }
        
        .toolPage {
            width: 90%;
    
            .buttons {
                flex-direction: column;
                align-items: center;
                
                button {
                    margin: 10px;
                    
                }
            }
        }
    }
    
}


