@import "../../variables.scss";
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
h1 {
    font-size: 60px;
    padding: 10px;
}
p {
    text-align: center;
    padding: 5px 10px;
    text-align: center;
    font-size: 20px;
}

.header {
    border: 2px solid $colour-dark-orange;
    background-color: $colour-orange;
    border-radius: $border-radius;
    box-shadow: $box-shadow;
    height: 180px;
    margin: 50px;
    padding: 0px 10px;
    opacity: 0.9;

    h1 {
        font-weight: bold;
        font-size: 40px;
    }

    p {
        font-size: 1em;
    }
}

.showInstructionsStyle {
    font-size: $font-size-h4;
}

.toolPage {
    border: 2px solid $colour-dark-purple;
    background-color: $colour-purple;
    border-radius: $border-radius;
    box-shadow: $box-shadow;
    padding: 10px;
    height: 90%;
    width: 60%;
    margin: 0 auto;
    opacity: 0.9;
    
    
    
    
    input {
        height: 80px;
        width: 90%;
        border: 2px solid $colour-dark-purple;
        box-shadow: $box-shadow;
        margin: 10px;
        font-size: 24px;
        
    }

    button {
        background-color: $colour-light-green;
        border-radius: $border-radius;
        padding: 20px;
        border: none;
        width: 100px;
        display: flex;
        margin: 0 auto; 
        display: inline-block;
    }
    
    button:hover {
        cursor: pointer;
    }

    
}
@media only screen and (max-width: 812px) {
    .header {
        overflow: scroll;
        h1 {
            font-size: $font-size-h4;
        }
        p {
            font-size: $font-size-p;
        }
    }
    .toolPage {
        padding-bottom: 10px;
        button {
            margin: 10px;
        }
    }
}