.collapseMenu {
    position: fixed;
    top: 4.5rem;
    left: 0;
    right: 0;
    background-color: #89cfeb;
    z-index: 1;
    height: calc(100vh - 60px);
    top: 60px;
    .navLinks {
        list-style-type: none;
        padding: 2rem 1rem 2rem 2rem;
        & p {
            font-size: 1.4rem;
            line-height: 2;
            color: #dfe6e9;
            text-transform: uppercase;
            cursor: pointer;
            &:hover {
                color: #fdcb6e;
            }
        }
    }
}