@import "../../variables.scss";

nav {
  height: $nav-height;
  display:flex;
  width: 100%;
  flex-direction: row;
  align-items: center;
  background-color: $colour-blue;

    a {
      text-decoration: none;
      color: white;

      &:hover{
        background-color: $colour-dark-blue;
        border-radius: $border-radius;
      }
    }
  }

  img {
    height: $nav-height;
    width: auto;
  }

  .links {
    margin-left: 10px;
    color: $colour-sky;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 50%;

    p {
      padding:10px;
      font-size: 20px;
      text-decoration: none;
    }

    p span {
      padding:10px;
      color: $colour-dark-blue;
      font-size: 20px;
    }
  }

  .account {
    color: $colour-sky;
    display: flex;
    justify-content: flex-end;
    width: 50%;

    p span {
      color: $colour-dark-blue;
      padding: 10px;
      font-size: 20px;
    }

    p{
      padding:10px;
      padding-right: 40px;
      font-size: 20px;
    }
  }


   