@import "../../variables.scss";

nav {
  height: 60px;
  display:flex;
  width: 100%;
  flex-direction: row;
  align-items: center;
  background-color: $colour-blue;
  }

  img {
    height: 60px;
    width: auto;
  }

  .links {
    margin-left: 20px;
    color: $colour-sky;
    display: flex;
    align-items: center;
    width: 75%;

    p {
      padding:10px;
      font-size: 20px;
    }

    p span {
      padding:10px;
      color: $colour-dark-blue;
      font-size: 20px;
    }

  }

  .account {
    color: $colour-sky;
    display: flex;
    justify-content: flex-end;
    width: 25%;

    p span {
      color: $colour-dark-blue;
      padding: 10px;
      font-size: 20px;
    }

    p{
      padding:10px;
      padding-right: 40px;
      font-size: 20px;
    }
  }
   