.Flexed {
    display: flex;
    justify-content: space-around;
    background-image: url(./img/ewe4you.jpg);
    background-position: center;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    padding-top: 8%;
}
