@import '../../variables.scss';

.buttonSection {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.galleryContainer {
  height: 100vh;
}

.galleryTitle {
  background-color: $colour-orange;

}

.gallery {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  .polaroidContainer {
    height: 60vh;
    width: 95%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  .buttonWrapper {
    width: 100%;
  }
}

.customfileupload {
  color: black;
  background-color: $colour-blue;
  border-radius: $border-radius;
  width: 250px;
  border: none;
  padding: 20px;
  padding-left: 65px;
  padding-right: 65px;
  margin: 20px;
  font-size: $font-size-h4;
  cursor: pointer;
  box-shadow: $box-shadow;

  input[type="file"] {
    display: none;
  }

  &:hover {
    background-color: $colour-dark-blue;
  }

  &.active {
    background-color: green;
  }

  *:focus {
    outline: none;
  }
}

*:focus {
  outline: none;
}