
.gallery{
  display: flex;
  justify-content: center;
  align-items: center;

.polaroidContainer{
  height: 80vh;
  width: 80%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
}