@import url('https://fonts.googleapis.com/css2?family=Just+Another+Hand&display=swap');
@import "../../variables.scss";

.polaroid{
  border: 2px solid black;
  height: 280px;
  width: 220px;
  background-color: white;
  position: relative;
  display: flex;
  justify-content: center;
  margin: 20px;
  box-shadow: $box-shadow;


  .avatar{
    height: 200px;
    width: 200px;
    position: flex;
    justify-content: center;
    margin-top: 10px;

    img{
      height: 200px; 
      border: 1px solid black;
    }
  }

  .caption{
    font-family: 'Just Another Hand', cursive;
    position: absolute;
    bottom: 20px;
    font-size: 1.5em;
    color: $colour-dark-brown;
  }
}